.nav__links-burger {
    position: absolute;
    display: inline-block;
    display: none;
    right: 30px;
    font-size: 25px;
    cursor: pointer;
    transition: 0;
    z-index: 2;
}
.burgerBars {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    border-radius: 5px;
}

/* .dot {
    position: absolute;
    height: 11px;
    width: 9px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    opacity: 0;
    transition: .5s;
}
.makeDot{
    opacity: 1 !important;

}
.dotLeft {
    -webkit-transform: rotate(-45deg) translate(27px, -29px);
    transform: rotate(-45deg) translate(27px, -29px);

}
.dotRight{
    -webkit-transform: rotate(45deg) translate(-9px, 6px);
    transform: rotate(45deg) translate(-10px, -45px);

} */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.change .bar1, .change .bar2, .change .bar3 {
    background-color: black !important;
}
.navMenuIcons{
    display: flex;
    justify-content: space-between;
    width: 150px !important;
    padding: 0 !important;
    margin: 30px 0 0 0 !important;
}
.navMenuIcons a{
    color: #000;
    transition: color .3s ease;
}
.navMenuIcons a:hover{
    color: #01AC93;
}

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

#menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

.menuLinks {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}
#menu .concoursLink{
    font-size: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    padding-left: 20px;
}
.menuLinks:hover {
    color: tomato;
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */

#menu {
    position: absolute;
    width: 250px;
    margin: -100px 0 -50px;
    padding: 60px 30px 60px 30px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    /* to stop flickering of text in safari */
}

.changeMenu {
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.hideMenu {
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 25px;
    font-size: 22px;
    width: 100%;
    text-align: left;
}