.contact {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 45vh;
    color: #fff;
    background-color: #000;
    font-family: "Roboto";
    padding: 50px 0 10px 0;
}
#concoursBtn{
    color: #ffc045;
    transition: .2s ease-in-out;
}
#concoursBtn:hover{
    color: #e29701;
    transition: .2s ease-in-out;
}
#concoursRules{
    width: 400px;
    font-weight: 100;
    font-size: 17px;
}
.rules button{
   margin-bottom: 50px;
   cursor: pointer;
}
.rules{
    justify-content: space-between;
}
.concoursBackdrop{
    z-index: 999;
}
.contact__links-ctnr p {
    color: #555555;
}

.contact__links-ctnr a {
    color: #637586;
}

.contact__links-ctnr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contact__links {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.contact__links li {
    cursor: pointer;
    padding-right: 30px;
}

.contact__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.877);
    z-index: 20;
}

.contact__header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact__brands {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: auto;
    margin-bottom: 40px;
}
.contact__brands label{
    font-size: 13px;
}
.contact-icon {
    padding: 0 15px;
    font-size: 40px;
    color: #FFC045;
    transition: .2s ease-in-out;
}
.contact-icon:hover {
    font-size: 40px;
    color: #e29701;
    transition: .2s ease-in-out;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter__input {
    display: flex;
    align-items: center;
    height: 36px;
}

.newsletter p {
    font-size: 15px;
    padding-top: 50px;
}

.newsletter__input input {
    outline: none;
    width: 327px;
    height: 100%;
    border: none;
    border-right: 1px solid #000;
    background: #fff;
    padding-left: 15px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.newsletter__input button {
    outline: none;
    cursor: pointer;
    width: 100px;
    height: 100%;
    color: #000;
    background: #fff;
    border: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 15px;
}

@media screen and (max-width: 1010px) {
    .contact__brands {
        width: 50vw;
    }
}

@media screen and (max-width:500px) {
    .contact__links li {
        cursor: pointer;
        padding-right: 1vw;
        font-size: 4vw;
    }
    .contact__brands {
        width: 95%;
    }
    .newsletter__input input {
        width: 55vw;
    }
}