.login__panel {
    position: relative;
    width: 740px;
    height: 417px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #000;
    z-index: 30;
    font-family: "Roboto";
}

.login__panel * {
    padding: 0;
    margin: 0;
}

.login__panel h2 {
    padding: 20px 0;
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70%;
    margin-bottom: 10px;
    padding: 10px;
}

.login__form button {
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    cursor: pointer;
    color: #fff;
    background: #000;
    border-radius: 5px;
    font-size: 15px;
    padding: 7px 30px;
    border: none;
}

.login__form input {
    padding: 10px 20px;
}

@media screen and (max-width: 740px) {
    .login__panel h2 {
        font-size: 3vw;
    }
    .login__panel {
        width: 60vw;
        height: 80vw;
    }
    
    .login__panel label{
        font-size: 2.5vw;
    }
    .login__form input {
        width: 35vw;
        height: 3vw;
    }
}