nav {
    background: #ffffff00;
    color: white;
    display: flex;
    width: 100vw;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    transition: background .2s;
    touch-action: manipulation;
}

.icon {
    cursor: pointer;
}

.nav__links-icons {
    display: flex;
    position: absolute;
    right: 30px;
    justify-content: space-between;
    width: 100px;
    padding: 10px;
}

.concoursLink {
    color: #ffc045;
    transition: .2s;
}

.concoursLink:hover {
    color: #c98909 !important;
    transition: .2s;
}

.nav__links-icons a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* nav * {
    border: 1px solid red;
} */
.nav__brand {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 250px;
    font-size: 25px;
    transition: .2s;
}

.nav__brand img {
    height: 49px;
    width: 163px;
}

.nav__link {
    font-family: "Jura";
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    margin: 0;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 0.1em;
    transition: .2s;
}

.nav__link:hover {
    color: #01AC93;
    transition: .2s;
}

.nav {
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.nav__links {
    display: flex;
    position: absolute;
    left: calc(50% - 800px/2);
    justify-content: space-between;
    width: 800px;
}

.nav__buttons {
    width: 100px;
    height: 100%;
}

.nav__BrandIconsCtnr {
    position: absolute;
    bottom: 0;
    left: -50px;
    width: 60% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1212px) {
    .nav__BrandIconsCtnr {
        width: 100% !important;
    }
    .nav__brand {
        width: 100%;
    }
    .bar1 .bar2, .bar3 {
        transition: 0.4s;
    }
    .nav__links, .nav__links-icons {
        display: none;
    }
    .nav__links-burger {
        display: block;
    }
    #menuToggle {
        display: flex;
    }
}

@media screen and (max-width: 825px) {
    #menu {
        width: 100vw;
    }
}