.newsPanel {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 60px);
    /* min-height: calc(100vh - 60px); */
    color: #fff;
}

.news__container {
    display: flex;
    width: 100%;
    height: 80%;
}

.news-title-data {
    text-transform: uppercase;
    font-family: "Jura";
    font-size: 30px;
    line-height: 35px;
}

.news-title-ctnr {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: flex-end;
}

.news-title {
    margin: 80px 100px 50px 0;
}

.news__importantNews {
    position: relative;
    display: flex;
    justify-content: center;
    width: 45%;
    height: 100%;
}

.importantNewsTitle {
    text-transform: uppercase;
}

.news__importantNews-imageCtnr {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.news__importantNews-imageCtnr img {
    width: 400px;
    height: auto;
}

.news__news-imageCtnr {
    min-width: auto;
    height: 50%;
    padding: 24px 24px 24px 0;
}

.news__news-list {
    display: flex;
    flex-direction: column;
    width: 52%;
    height: calc((100vh - 60px)*0.8);
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-y: auto;
}

.news__news-list::-webkit-scrollbar {
    width: 10px;
}

/* Handle */

.news__news-list::-webkit-scrollbar-thumb {
    background: #FFC045;
    border-radius: 5px;
}

/* Handle on hover */

.news__news-list::-webkit-scrollbar-thumb:hover {
    background: #e29700;
}

.news__news-body {
    display: flex;
    align-items: center;
    width: 80%;
    height: 50%;
}

.news__modify {
    position: absolute;
    top: 20px;
    right: 5vw;
    z-index: 9;
    border: none;
    background: none;
    font-size: 15px;
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}

.news__modify:focus {
    outline: none;
}

.news__news-body p {
    font-size: 15px;
    font-family: "Jura";
    font-size: 15px;
    line-height: 18px;
}

.news__news-list li {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
}

.news__news-list li span, .news__importantNews span {
    position: absolute;
    width: auto;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 1px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    z-index: 8;
    /* font-weight: bold; */
    font-family: 'Roboto';
    line-height: 35px;
}

.news__news-list li span {
    top: -23px;
    left: 6px;
    -webkit-text-stroke-color: #ffc045b3;
    font-size: 30px;
}

.news__importantNews span {
    top: -20px;
    left: 50px;
    -webkit-text-stroke-color: #ffc045b3;
    font-size: 35px;
}

.news-title-data {
    font-size: 20px;
    border-bottom: 4px solid #FFC045;
    width: 65%;
    z-index: 9;
    font-family: "Jost";
    letter-spacing: 0.2em;
}

.importantNewsTitle {
    font-size: 25px;
    font-family: 'Jost';
    letter-spacing: 0.2em;
    z-index: 9;
}

.news__news-list img {
    max-width: 250px;
}

.news-subtitle {
    margin: 0;
    text-transform: none;
    font-size: 30px;
}

@media screen and (max-width: 590px) {
    .news-title {
        width: 50vw;
    }
}

@media screen and (max-width: 1100px) {
    .news__news-imageCtnr{
        padding: 24px;
    }
    .news-title-ctnr {
        display: flex;
        position: relative;
        width: 100%;
        justify-content: center;
    }
    .news-title {
        margin-right: 0;
    }
    .news__container {
        flex-direction: column;
        align-items: center;
    }
    .news__container h2 {
        width: auto !important;
    }
    .news__importantNews {
        width: 100%;
    }
    .news__news-list {
        width: 100%;
        align-items: center;
        height: 100%;
        overflow-y: hidden;
    }
    .news__news-body {
        flex-direction: column;
        text-align: center;
    }
    .news__news-body h2 {
        font-family: "Jura";
        font-weight: 500;
    }
    .news__news-list li {
        width: 100%;
        align-items: center;
    }
    .news__news-list li span {
        top: -2vw;
        left: 30vw;
        font-size: 3vw;
    }
    .news__importantNews span {
        top: -6vw;
        left: 10vw;
        font-size: 4vw;
        /* top: -2vw;
        left: 30vw;
        font-size: 3vw; */
    }
    .importantNewsTitle {
        font-size: 2.7vw !important;
    }
    .news-title-data {
        font-size: 2.7vw !important;
    }
    .news__importantNews-imageCtnr img {
        width: 70%;
        height: auto;
    }
}

@media screen and (max-width: 568px) {
    .news-subtitle {
        font-size: 6vw;
    }
}