.tourDates {
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 60px);
    background-image: url("../../assets/tourdates.png");
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
}

.tourDates__dates-ctnr {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    right: 10%;
    top: 10%;
    width: 400px;
    height: 90%;
}

.td__admin-panel-datesList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 90%;
    margin-top: 20px;
    color: #000;
}

.adminpanel__header {
    width: 100%;
    height: auto;
    color: #000;
}

.td__admin-panel-ctnr {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 60vw;
    height: 60vh;
    background: #fff;
}

.td__admin-panel-ctnr .adminpanel_title {
    margin: 0;
    padding: 0;
    top: 40px;
    font-size: 40px;
}

.tourDates__admin-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.877);
    z-index: 20;
}

.tourDates .tourDates__title {
    margin: 0;
    padding: 0;
    top: 60px;
    font-size: 50px;
}

.tourDates__modify {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
}

.tourDates__dates-list {
    height: 80%;
    list-style: none;
    overflow-y: auto;
}

.tourDates__dates-list li {
    width: 394px;
    padding: 50px;
    text-align: left;
    font-family: Jura;
    font-style: normal;
    font-weight: normal;
}

.tourDates__loc {
    font-size: 30px;
    text-transform: uppercase;
}

.tourDates__loc2 {
    font-size: 15px;
}

.tourDates__date {
    font-size: 15px;
}

@media screen and (max-width:700px) {
    .tourDates {
        align-items: center;
    }
    .tourDates__dates-list {
        padding: 0;
    }
    .tourDates__dates-list li {
        width: 100%;
        padding: 50px 0;
    }
    .tourDates__dates-ctnr {
        position: relative;
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
    }
    .tourDates__loc {
        font-size: 25px;
        text-transform: uppercase;
    }
    .tourDates__loc2 {
        font-size: 15px;
    }
    .tourDates__date {
        font-size: 15px;
    }
}